[submodule "open-combat-client"]
	path = open-combat-client
	url = https://github.com/Open-Combat/open-combat-client.git
[submodule "open-combat-auth"]
	path = open-combat-auth
	url = https://github.com/Open-Combat/open-combat-auth.git
